.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 0s linear;
  height: 80vmin;
  width: 212vmin;
  opacity: 0.9;
}

.App-logo-attraction {
  animation: App-logo-spin infinite 0s linear;
  height: 80vmin;
  width: 212vmin;
  opacity: 1.0;
}

.attraction-image {
  animation: App-logo-spin infinite 0s linear;
  height: 75vmin;
  width: 100vmin;
  opacity: 1.0;
}

.register-background {
  animation: App-logo-spin infinite 0s linear;
  background-image: url("sky.jpg");
}

.navbar-brand img{
  height: 40px;
  width: auto;
}

#image-location{
  width: 100%;
  height: 400px;
  width: 500px;
}

#content-stuff {
  position: relative;
} 

#content-over-image {
  position: absolute;
  top: 150px;
  left: 170px;
}

#content-over-image-asia {
  position: absolute;
  top: 150px;
  left: 380px;
}

#attraction-border{
  border-radius: 25px;
  width: 60%;
  margin: 10px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid lightgrey;
  background-color: rgba(0,0,0,0.05);
  color: black;
}

.App-header {
  background-color: #FFFFFF;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
