.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 0s linear;
  height: 80vmin;
  width: 212vmin;
  opacity: 0.9;
  
}

.App-logo-turkey {
  animation: App-logo-spin infinite 0s linear;
  height: 80vmin;
  width: 212vmin;
  opacity: 1.0;
  
}

.navbar-brand img{
  height: 40px;
  width: auto;
}

#content-stuff {
  position: relative;
} 

#content-over-image {
  position: absolute;
  top: 150px;
  left: 170px;
}

#content-over-image-asia {
  position: absolute;
  top: 150px;
  left: 380px;
}

.App-header {
  background-color: #FFFFFF;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
